<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SSHTabbarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>157F5EFF1C24F02A00C1D220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>157F5F181C24F02A00C1D220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>157F5F231C24F02A00C1D220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
